<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Mahasiswa</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
          th:href="@{/webjars/materializecss/0.100.2/css/materialize.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
            th:src="@{/webjars/materializecss/0.100.2/js/materialize.min.js}"></script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</head>
<body class="container">
<!--/*@thymesVar id="mhs" type="com.maryanto.dimas.model.Mahasiswa"*/-->
<form action="/mahasiswa/new"
      th:action="@{/mahasiswa/new}" th:method="post" th:object="${mhs}" method="post">
    <input type="hidden" name="id" th:field="*{id}"/>
    <div class="input-field row">
        <label for="nim">NIM</label>
        <input type="text" name="nim" id="nim" th:field="*{nim}"/>
    </div>
    <div class="input-field row">
        <label for="nama">Nama</label>
        <input type="text" name="nama" id="nama" th:field="*{nama}"/>
    </div>
    <div class="input-field row">
        <select name="semester" id="semester" th:field="*{semester}">
            <option th:each="smt : ${#numbers.sequence(1,12)}" value="1" th:value="${smt}">
                Semester <span th:text="${smt}">1</span>
            </option>
        </select>
        <label for="semester">Semestare</label>
    </div>
    <div class="row">
        <button type="submit" class="btn">Kirim</button>
    </div>

</form>

</body>
</html>