<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
          th:href="@{/webjars/materializecss/0.100.2/css/materialize.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
            th:src="@{/webjars/materializecss/0.100.2/js/materialize.min.js}"></script>
</head>

<body class="container">
<div>
    <a href="/mahasiswa/report" th:href="@{/mahasiswa/report}" class="btn">
        <i class="material-icons">print</i>
        Cetak
    </a>
    <a href="/mahasiswa/new" th:href="@{/mahasiswa/new}" class="btn">
        <i class="material-icons">add</i>
        Tambah
    </a>
</div>
<table class="bordered striped highlight responsive-table">
    <thead>
    <tr>
        <td class="centered">Nim</td>
        <td>Nama</td>
        <td>Semester</td>
        <td>Aksi</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="listMhs" type="com.maryanto.dimas.controller.MahasiswaController"*/-->

    <tr th:each=" m : ${listMhs}">
        <td th:text="${m.nim}" class="centered">10511148</td>
        <td th:text="${m.nama}">Dimas Maryanto</td>
        <td th:text="'Semester ' + ${m.semester}">Semester 10</td>
        <td>
            <span sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/mahasiswa/hapus/1" th:href="@{/mahasiswa/update(idalskdfj=${m.id})}" class="btn">
                        <i class="material-icons">mode_edit</i>
                        Update
                   </a>
                |
                <a href="/mahasiswa/hapus/1" th:href="@{/mahasiswa/hapus(idalskdfj=${m.id})}" class="btn">
                        <i class="material-icons">delete</i>
                        Hapus
                   </a>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>